body{
	font-family:roboto;
	color:black;
}
h1{
	font-size:36px;
	line-height:36px;
	border-width:1px 0px 1px 0px;
	border-color:black;
	border-style:solid;
	padding-bottom:25px;
	padding-top:25px;
}
h2{
	font-size:32px;
	line-height:32px;
}
p{
	font-size:20px;
	line-height:26px;
}
ol>li{
	font-size:20px;
	line-height:40px;
}
ul>li{
	font-size:20px;
	line-height:40px;
}
#tip{
	position:absolute;
	background-color:#def6ed;
    border-radius:25px solid#FFFFFF;
    padding:20px;
    margin:40;
    margin-left:-70px;
    margin-bottom:25px;
}
div{
	width: 50%;
	margin: 0 auto;
}
img{
	margin-left:-70px;
	margin-right:500px;
	margin-top:20px;
	margin-bottom:40px;
}
.links{
	display:inline;
	font-family:arial black;
	background-color:black;
	padding-left:40px;
	padding-right:40px;
	padding-top:10px;
	padding-bottom:10px;
	margin-left:150px;
}
a{
	text-decoration:none;
	color:#000000;
}
a:visited	{
	text-decoration:none;
	color:#ffffff;
}
a:hover		{
	text-decoration:none;
	color:#070707;
	background-color:#f4f4f4;
}
a:active {
    text-decoration:none;
    color:#ff6100;
    background-color:#ffffff;
}
::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background-color:#ffffff;
}

::-webkit-scrollbar-thumb {
  background-color:black;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color:#ff6100	;
}
